{%extends 'base.html' %}
{% load static %}

{%block content %}

            <div class="container" style="margin-top:7%;">

              <header>
                <div >
                    <h1 style="margin-left:35%;">Liste de liens</h1>
            </div>
            <section class="justify-content-center justify-content-lg-between p-1 ">
                <div class="container text-center text-md-start mt-5">
                  <!-- Grid row -->
                  <div class="container row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-10  mx-auto mb-10">
                      <!-- Content -->
                      <h4 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i> Réseaux sociaux ou sites communautaires
                      </h4>
                      <p class="text-justify ">
                        Une liste de sites pour permettant de vous former en ligne, d'échanger, de progresser et de mener des projets.
                    </p>
                    <p class="text-justify ">
                      Ils vous permettront également de connaître les dernières nouveautés et de rester en veille.
                  </p>
                  <p class="text-justify ">
                    Ce sont des sites où vous pouvez vous former à la programmation et au codage et notamment à Python...
                </p>
                    </div>

                </div>
              </section>
                <p  style="text-align: center;">
                    <div class="row" >
                        <div style="padding-left:26%;" >
                            <a href="https://gamingcampus.fr/metiers/programmeur-de-jeux-video.html" target="_blank">
                                <img class="img-thumbnail" src="{% static 'images/comu1.jpg' %}" alt="">
                            </a>
                            <a href="https://python.developpez.com/" target="_blank">
                                <img class="img-thumbnail" src="{% static 'images/comu2.JPG' %}" alt="">
                            </a>
                            <a href="https://www.python.org/community/forums/" target="_blank">
                                <img class="img-thumbnail" src="{% static 'images/comu3.jpg' %}" alt="">
                            </a>
                            <a href="https://www.instagram.com/vie_de_codeur/?hl=fr/" target="_blank">
                                <img class="img-thumbnail" src="{% static 'images/comu4.jpg' %}" alt="">
                            </a>
                            <a href="https://www.instagram.com/explore/tags/html/?hl=fr" target="_blank">
                                <img class="img-thumbnail" src="{% static 'images/comu5.jpg' %}" alt="">
                            </a>
                            <a href="https://openclassrooms.com/fr/partners/class-code" target="_blank">
                                <img class="img-thumbnail" src="{% static 'images/comu6.jpg' %}" alt="">
                            </a>
                </P>




              </header>


            </div>
            <!-- fin de la partie vidéo Teaser -->
  


{%endblock %}