   <!-- Footer -->
                <footer class="text-center text-lg-start  text-muted" style="margin-top:200px;background-color: #fff;">



                      </div>
                    </section>
                    <!-- Section: Links  -->
                    <!-- Copyright -->
                    <h4 class="text-uppercase fw-bold mb-4">
                      <i class="fas fa-gem me-"></i>Contact
                    </h4>
                    <p>
                    </h6>
                    <p>
                      <a href="/formulaire" class="text-reset">Formulaire</a>
                    </p>
                    <h4 class="text-uppercase fw-bold mb-4">
                      <i class="fas fa-gem me-3"></i>Liens de navigation
                    </h4>
                    <p>
                    </h6>
                    <p>
                      <a href="/accueil" class="text-reset">Accueil</a>
                    </p>
                    <p>
                      <a href="/presentation" class="text-reset">Presentation</a>
                    </p>
            
                    <p>
                      <a href="/artefac" class="text-reset">Artefac</a>
                    </p>
                    <p>
                      <a href="/game" class="text-reset">Quizz</a>
                    </p>
                    <p>
                      <a href="/iframe" class="text-reset">Evaluer la formation</a>
                    </p>
                    <p>
                      <a href="/apropos" class="text-reset">Le formateur</a>
                    </p>
                    <p>
                      <a href="/allerplusloin" class="text-reset">Réseaux</a>
                    </p>
                  </div>
                    </p>
                    <div class="text-center p-4">
                        <!-- Grid column -->
                      </div>
                      <!-- Grid row -->
                    </div>
                  </section>
                  <!-- Section: Links  -->
                  <!-- Section: Links  -->
                  <section class="justify-content-center justify-content-lg-between p-1 ">
                    <div class="container text-center text-md-start mt-5">
                      <!-- Grid row -->
                      <div class="container row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-10  mx-auto mb-10">
                          <!-- Content -->
                          <h4 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i> <b>Recueil des données</b>
                          </h4>
                          <p class="text-justify ">
                            Les informations recueillies sur ce site sont enregistrées sur un serveur géré par l'Inspe d'Aix-Marseille. Les données collectées seront communiquées aux seuls destinataires suivants : Hakim Akkioui. Les données sont conservées pendant 1 an. Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer votre droit à la limitation du traitement de vos données. Consultez le site cnil.fr pour plus d’informations sur vos droits. Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez me contacter en utilisant le formulaire ou en m'envoyant un mail. Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés » ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.
                         </p>
                        </div>

                    </div>
                  </section>
                  <!-- Section: Links  -->
                  <!-- Copyright -->
                  <p>
                    <a href="https://www.cnil.fr/comprendre-le-rgpd" target="Starfall" >CNIL/RGPG</a></button>
                  </p>
                  <div class="text-center p-4">
                    © 2022 Copyright - Tous droits resérvés - Hakim AKKIOUI - Avril 2022
                  </div>
                  <!-- Copyright -->



              </div>
              <!-- Copyright -->
                </footer>
                <!-- Footer -->
         </div>





    