{% load static %}

<section class="ftco-section">
                <div>
                    <div class="row" >
                        <div style="padding-left:46%;" >
                            <img src="{% static 'images/logo.png' %} " width="180px" height="180px">

                        </div>
                       
                </div>
                <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" >
                    <div class="container">


                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fa fa-bars"></span> Menu
                          </button>
                          <div class="collapse navbar-collapse" id="ftco-nav">
                                <ul class="navbar-nav m-auto">
                                    <li class="nav-item"><a href="/accueil" class="nav-link">Accueil</a></li>
                                    <li class="nav-item "><a href="/presentation" class="nav-link">Presentation</a></li>
                                    <li class="nav-item "><a href="/artefac" class="nav-link">   Artefac   </a></li>
 
                                    <li class="nav-item dropdown">
                                      <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quiz</a>
                                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                                            <a class="dropdown-item" href="/game">Quiz</a>

                                        </div>
                                    </li>
                                    <li class="nav-item "><a class="nav-item" href="/iframe"></a></li>
                                    <li class="nav-item "><a href="/iframe" class="nav-link">Evaluer_la_formation</a></li>
                                    <li class="nav-item "><a href="/apropos" class="nav-link">Le formateur</a></li>
                                    <li class="nav-item "><a href="/allerplusloin" class="nav-link">Réseaux</a></li>
                                    <li class="nav-item "><a href="/formulaire" class="nav-link">Formulaire</a></li>


                                </ul>
                          </div>
                    </div>
                </nav>
</section>